body {
	margin: 50px 50px;
	background: #fff;
	font-family: monospace;
}
li { 
	list-style-type:none; 
} 
button {
	margin: 10px;
	background: grey;
	font-size: 1.2em;
	color: white;
}

#bambooStatusIndicator,
#backendStatusIndicator {
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	border-radius: 50%;
	display: inline-block;
	background: #F2F2F2;
    top: 7px;
    position: relative;	
}
#bambooStatusIndicator.successful,
#backendStatusIndicator.up {
	background: url(statusGreen.png);
	background-size: 99%;
}
#bambooStatusIndicator.building {
	background: url(statusBlue.png);
	background-size: 99%;
}
#bambooStatusIndicator.error,
#backendStatusIndicator.error {
	background: url(statusPurple.png);
	background-size: 99%;
}
#backendStatusIndicator.shaky {
	background: #ffff00;
}
#bambooStatusIndicator.failed, 
#backendStatusIndicator.down {
	background: url(statusRed.png);
	background-size: 99%;
}

#bambooStatusIndicator.disco, 
#backendStatusIndicator.disco {
	background: url(statusdisco.gif);
	background-size: 99%;
}
