body {
	margin: 50px 50px;
	background: #fff;
	font-family: arial;
    color: #2dbaf3;
}

body.beamer {
	margin: 5px;
	background: #fff;
	font-family: arial;
    color: #000;
    padding: 0;
}

li { 
	list-style-type:none; 
} 
button {
    margin: 0px 2px 12px 2px;
    padding: 10px;
    background: grey;
    font-size: 16px;
    color: white;
    background-color: #2dbaf3;
}
h1 {
	font-size: 30px;
    line-height: 25px;
}
.beamer h1 {
	font-size: 16px;
}
h2 {
	font-size: 24px;
	line-height: 20px;
}
.beamer h2 {
	font-size: 20px;
}

input {
	line-height: 30px;
	margin-bottom: 5px;
}

.infoline {
	font-family: monospace;
	font-size: 16px;
	color: gray;
}
.beamer .infoline {
	font-size: 14px;
}

#bambooStatusIndicator,
#healthStatusIndicator {
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	border-radius: 50%;
	display: inline-block;
	background: #F2F2F2;
    top: 7px;
    position: relative;	
}
#bambooStatusIndicator.successful,
#healthStatusIndicator.up {
	background: url(StatusGreen.png);
	background-size: 99%;
}
#bambooStatusIndicator.building {
	background: url(StatusBlue.png);
	background-size: 99%;
}
#bambooStatusIndicator.error,
#healthStatusIndicator.error {
	background: url(StatusPurple.png);
	background-size: 99%;
}
#healthStatusIndicator.shaky {
	background: #ffff00;
}
#bambooStatusIndicator.failed, 
#healthStatusIndicator.down {
	background: url(StatusRed.png);
	background-size: 99%;
}

#bambooStatusIndicator.disco, 
#healthStatusIndicator.disco {
	background: url(statusdisco.gif);
	background-size: 99%;
}

.beamer #bambooStatusIndicator,
.beamer #healthStatusIndicator {
	width: 140px;
	height: 140px;
	border-radius: 0;
	border: 0;
}
